{% load static %}
<div class="jumbotron hero-div d-flex jumbotron-fluid">
    <div class="container my-5 align-self-center">
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <h1 class="display-4">Julian Petrich</h1>
                <p class="lead">Without context, your data are just some bytes.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    </div>
</div>






