{%  load static %}

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="row justify-content-md-center d-flex">
                <div class="col-lg-5">
                    <h1>Context is king.</h1>
                    <p>Are you making your decisions based on your gut feeling?</p>
                    <p>Sure, sometimes this works out. All this uncertainty will slowly kill you from the inside.
                        Trust me, I have been there myself.</p>
                    <p>Data is a crucial part of making informed decisions.
                        It is the foundational piece to making your life less uncertain and less overwhelming.</p>
                    <p>There is no one size fits all solution. Data is contextual.
                        To bring your decision-making to the next level, I will help you get the most out of your data.</p>
                    <p>Let's make your data work for you.</p>
                </div>
                <div class="col-lg-7 align-self-center">
                    <img src="{% static 'images/mission.png' %}" class="img-fluid mx-auto d-block" alt="what is Julian all about">
                </div>
            </div>
        </div>
    </div>
</div>




