{% load static %}
<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="row justify-content-md-center d-flex">
                <div class="col-lg-6 p-3 align-self-end">
                    <img src="{% static 'images/project_1.gif' %}" class="img-fluid mx-auto d-block" alt="">
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-5">
                    <h1>Botting a PlayStation 5</h1>
                    <p>some cool description.</p>
                    <p>some cool description.</p>
                    <p>some cool description.</p>
                    <p>some cool description.</p>
                    <p>some cool description.</p>
                    <p>some cool description.</p>
                    <p>some cool description.</p>
                </div>
            </div>
        </div>
    </div>
</div>