{% load static %}
<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="row justify-content-md-center d-flex">
                <div class="col-lg-5">
                    <h1>Let's have a chat!</h1>
                    <p>Let’s have a chat about how we can make data work for you.
                        Feel free to reach out via <a href="mailto:julian@julianpetrich.com">julian@julianpetrich.com</a>
                        or <a href="https://www.linkedin.com/in/julianpetrich/">LinkedIn</a>.
                    </p>
                    <p>
                        Need some new creative ideas and inputs?
                        Check out my case studies or my <a href="https://github.com/julianpetrich">Github</a>
                        and get some inspiration right away.
                    </p>
                </div>
                <div class="col-lg-7 align-self-center">
                    <img src="{% static 'images/mission.png' %}" class="img-fluid mx-auto d-block" alt="what is Julian all about">
                </div>
            </div>
        </div>
    </div>
</div>
