{% load static %}

<div class="container-fluid about-div">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="row justify-content-md-center d-flex my-5">
                    <div class="col-lg-3 align-self-center d-flex justify-content-center my-3">
                        <img class="rounded-circle" src="{% static 'images/aboutme.png' %}">
                    </div>
                    <div class="col-lg-9">
                        <p>
                            asd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asd
                            asd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd
                            asd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asd
                            asd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd
                            asd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asd
                            asd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd asdasd asdas dasdasd asdasd
                        </p>
                        <strong>Some dude,</strong>
                        <i>Some position,</i> some company
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>