{% load static %}

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10">

            <h1>Case Studies</h1>
            <p>Add some copy here.</p>

            <div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1">
                    {% for post in post_list %}
                        {% if forloop.counter|divisibleby:"4" %}
                            </button>
                            <button type="button" data-bs-target="#carousel" data-bs-slide-to="{% widthratio forloop.counter 4 1 %}"
                                    aria-label="Slide {% widthratio forloop.counter 4 1 %}">
                        {% endif %}
                        </button>
                    {% endfor %}
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-group">
                            {% for post in post_list %}
                                <div class="col-12 col-md-6 col-xl-3 mb-4 p-3">
                                    <div class="card">
                                        <img src="{{ post.cover.url }}" class="card-img-top" alt="{{ post.description_alt }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <p class="card-text">{{ post.description_short }}</p>
                                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            {% if forloop.counter|divisibleby:"4" %}</div></div><div class="carousel-item"><div class="card-group">{% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>