{%  load static %}
<div class="row justify-content-md-center">
    <div class="col-lg-7">
        <img src="{% static 'images/aboutme.png' %}" class="img-fluid mx-auto d-block" alt="about Julian Petrich portrait">
    </div>
    <div class="col-lg-5">
        <h2>Hi, I am Julian…</h2>
        <p>I am very direct and honest – both in my personal and professional life.
            So please don’t expect any sugar-coating.</p>
        <p>This no-bullshit approach translates perfectly into helping you get the most out of your data.
            <em>effectively</em>.</p>
        <p>I am not going to fetishize iterations to improve a model’s accuracy by 0.0001%.
            I rather stay focused on the problem we are <strong>actually</strong> trying to solve.
            Will that 0.0001% improvement actually add significant value to your business?
            If any at all, it will be marginal. And even worse,
            the costs will not justify that tiny bit of improvement.</p>
        <p>Understanding your context will help us find solutions that are actually meaningful to your business.
            In the end, I am here to solve your problems and to make your life easier.</p>
    </div>
</div>