{% load static %}
<div class="container p-5" id="projects">
    <div class="row justify-content-md-center">
        <div class="col-lg-2">
            <h2>Projects</h2>
        </div>
        <div class="col-lg-7">
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-9">
            <div class="row justify-content-md-center">
                {% for post in post_list %}
                    <div class="col-md-3">
                        <div class="card mb-2">
                            <img class="card-img-top" src="{{ post.cover.url }}">
                            <div class="card-body">
                                <a href="{{ post.get_absolute_url }}">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                </a>
                                <p class="card-text">{{ post.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>